<div class="container-fluid" id="breadcrumb-section"> 
    <div class="container">
        <p id="breadcrumb"><a routerLink="/home" id="space"><i id="space" class="fa fa-home"></i>Trang chủ</a>/<a id="space">Giỏ hàng</a></p>
    </div>
</div>
<ng-container *ngIf="products.length !=0">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i=index">
                        <td>{{i+1}}</td>
                        <td><a routerLink="/detail/{{item.id_sp}}">{{item.tensp}}</a></td>
                        <td><img src="assets/images/{{item.hinhanh}}" alt="{{item.hinhanh}}"></td>
                        <td>{{item.dongia | currency:"VND"}}</td>
                        <td>{{quantity}}</td>
                        <td>{{item.dongia*quantity | currency:"VND"}}</td>
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button (click)="emptycart()" class="btn btn-danger">Làm trống giỏ hàng</button></td>
                        <td><button routerLink="/products" class="btn btn-primary">Mua thêm</button></td>
                        <td><button routerLink="/checkout" class="btn btn-success">Thanh toán</button></td>
                        <td><strong>Tổng tiền: {{grandTotal | currency:"VND"}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">Giỏ hàng của tôi</h5>
        </div>
        <div class="center">
            <img src="assets/images/empty_cart.jpg" alt="empty_cart">
            <h4>Bạn chưa chọn sản phẩm!</h4>
            <h6>Hãy nhanh tay chọn ngay sản phẩm yêu thích.</h6>
            <a routerLink="/products"><button class="btn btn-primary">Đặt hàng ngay</button></a>
        </div>
    </div>
</ng-container>