<div class="container-fluid" id="breadcrumb-section"> 
    <div class="container">
        <p id="breadcrumb"><a routerLink="/home" id="space"><i id="space" class="fa fa-home"></i>Trang chủ</a>/<a id="space">Giới thiệu</a></p>
    </div>
</div>
<div class="container" id="about">
    <h1 class="title">Thời Trang PHI LONG</h1>
    <p>
        <a id="red-text">Thời trang PHI LONG</a> là một thương hiệu đến từ <a id="red-text">Việt Nam</a> dành cho giới trẻ. <br>
        <a id="bold-text">ĐA DẠNG CÁC GU THỜI TRANG</a> chính là phong cách hiện tại của <a id="red-text"> Thời trang Phi Long</a>.
    </p>
    <p>
        Đến với Thời trang PHI LONG, sẽ đáp ứng mọi nhu cầu thời trang hàng ngày cho bạn: ĐI HỌC, ĐI CHƠI, ĐI LÀM, DU LỊCH, DẠO PHỐ, TIỆC TÙNG, THỂ THAO. <br>
        Không mãi chạy theo xu hướng, đánh mất mình. Thời trang PHI LONG vẫn luôn giữ những giá trị đã xây đựng và phát triền bao lâu nay, những điểm nổi bật đã mang khách hàng đến với Thời trang PHI LONG trong suốt thời gian qua
    </p>
    <div class="main-div">
            <h2 class="main-title">CHẤT LƯỢNG TỐT & GIÁ THÀNH RẺ</h2>
    </div>
    <a id="italic-text">Thời trang PHI LONG mang đến cho khách hàng những sản phẩm <a id="bold-text">CHẤT LƯỢNG TỐT</a> với <a id="bold-text">GIÁ THÀNH RẺ</a> nhất so với chất lượng mang lại</a>
    <p><a id="red-text">Thời trang PHI LONG</a> luôn nghiên cứu, phát triển mỗi ngày để mang đến những sản phẩm đa dạng về chất liệu, nhiều tính năng, đa dạng giá thành... mang lại nhiều sự lựa chọn hơn cho khách hàng.</p>  
    <img src="assets/images/about1.jpg" class="banner" width="100%" height="auto">
    <div class="main-div">
        <h2 class="main-title">THIẾT KẾ ĐA DẠNG - BẮT KỊP XU HƯỚNG</h2>
    </div>
    <p>Chúng tôi tạo ra không gian sống tuyệt vời nhất, nơi chúng tôi gọi là “Nhà”.</p>

    <img src="assets/hinh/about2.jpg" style="object-fit: cover;" width="100%" height="auto">

    <div style="border-left: 6px solid #f2f2f2;height: 60px;margin-top:25px;margin-bottom: 20px;">
        <h2 style="font-size:25px;font-weight:bold;color: #66c2ff;margin-left: 20px;padding-top:10px;">SHOWROOM PHI LONG - HIỆN ĐẠI ĐẲNG CẤP </h2>
    </div>
    <p>
        Showroom nổi bật với lối kiến trúc không gian mở hiện đại, các sản phẩm nội thất được bố trí theo từng không gian 
        và phong cách nội thất, mang đến trải nghiệm mua sắm tuyệt hảo cho khách hàng. 
    </p>
    <img src="assets/hinh/about3.jpg" style="object-fit: cover;" width="100%" height="auto">
</div>

